name: Build Linux Debug

on:
  push:
    branches:
    - 'master'
    - 'develop'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'
        cache: false
    - name: Get dependencies
      run: sudo apt-get update && sudo apt-get install 7zip gcc libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev ibusb-1.0-0-dev libgtk-3-dev libasound2-dev
    - name: Build CanGateway
      run: GOPATH=$PWD/go go install -tags="j2534" github.com/roffe/gocangateway@latest
    - name: Build Txloger
      run: go build -v -tags="canlib,canusb,combi,j2534,pcan,rcan,socketcan" .
